<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User with ROLE_ADMIN</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>

        </tr>
        </thead>
        <tbody>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getPassword()}"/>
        </tbody>

    </table>
</div>
<br>

<form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
    <input type="submit" value="Edit">

,<p></p>


<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
<br>
<a href="/logout">Logout</a>

</form>
</body>
</html>